<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
     <div class='jumbotron'>
       <div class='container'>
         <h1>Logged Out</h1>
         <p>Thanks for spending some quality time with the Web site today.</p>
         <a href='/accounts/login'><button type='button' name='button'class='btn btn-success'>Login Again</button></a>
      </div>
    </div>
